/* styles.css */
body {
    margin: 0;
  }
  
  .top-banner {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    text-align: center;
    padding: 0.5rem;
    font-size: 14px;
    position: relative;
    font-family: Segoe UI;
    font-weight: bold;
  }
  
  .location {
    position: absolute;
    right: 10rem;
    top: 0.5rem;
    font-family: Segoe UI;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #EDEAE5;
    font-family: Segoe UI;
  }
  
  .nav-links a {
    margin: 0 1rem;
    text-decoration: none;
    color: black;
    font-size: 18px;
  }
  
  .hero {
    background-image: url('/public/images/china-lake.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
    position: relative;
  }
  
  .hero-search {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.75rem 1.5rem;
    width: 50%;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    background: rgba(0,0,0,0.6);
    color: white;
    outline: 1px solid white;
    font-family: sans-serif;
  }
  
  .hero-categories-overlay {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
  }
  
  .hero-categories-overlay .category-grid {
    background: none;
    padding: 0;
    gap: 2rem;
  }
  
  .category-grid {
    background-color: #EDEAE5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
  }
  
  .category {
    text-align: center;
    font-family: Segoe UI;
    font-size: 18px;
    color: white;
    text-shadow: 0 2px 8px rgba(0,0,0,0.9);
  }
  
  .category-icon {
    background-color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    margin: 0 auto 0.5rem;
    box-shadow: 0 5px 2px black;
  }
  
  .footer {
    background: rgba(0, 0, 0, 0.85);
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 16px;
    font-family: Segoe UI;
    margin-top: 0rem;
  }
  
  .email-copy-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-family: Segoe UI;
    margin: 0 0.5rem;
    text-decoration: underline;
    padding: 0;
  }
